<ng-container *ngIf='!loading; else loadingTpl'></ng-container>
<div class='container-fluid'>
  <h1>Контракты</h1>
</div>

<div class='container-fluid'>
  <div class='row'>
    <div class='col-xs-12 col-sm-4'>
      <mat-form-field>
        <input [formControl]='filterCtrl' type='text' placeholder='Фильтр' matInput>
      </mat-form-field>
    </div>
    <div class='col-xs-12 col-sm-4'>
      <mat-form-field>
        <mat-select [multiple]='true' placeholder='Статус' [formControl]='statusFilter'>
          <mat-option *ngFor='let o of options' [value]='o'><span class='status-option'>{{o | contract}}</span></mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div class='container-fluid content'>
  <div class='row'>
    <mat-list class='col-xs-12'>
      <mat-list-item *ngFor='let c of contracts' class='contract'>
        <div class='contract__wrapper'>
          <div class='contract__title'>Контракт с:</div>
          <div class='contract__name'>
            {{c.shopName}}
          </div>
        </div>
        <div class='contract__status'>{{c.status | contract}}</div>
      </mat-list-item>
    </mat-list>
  </div>

</div>

<ng-template #loadingTpl>
  <sr-loading>Загрузка контрактов</sr-loading>
</ng-template>
