:host {
  height: 100%;
  width: 100%;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  mat-progress-spinner {
    margin-bottom: 20px;
  }
}
