@import 'src/styles/variables.scss';

:host {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;

  .nav-bar--active {
    background-color: #b1d7d3;
  }

  button {
    text-align: left;
  }
}
