<button *ngFor="let l of navBarSchema"
        mat-button
        [disabled]="l.disabled"
        routerLinkActive="nav-bar--active"
        [routerLink]="['/', l.routerLink]"
        (click)="onClick()">{{l.name}}</button>
<mat-divider></mat-divider>
<button mat-button
        (click)="changeShop()">
  <mat-icon>arrow_back_ios</mat-icon>
  Сменить магазин
</button>
<button mat-button
        (click)="logOut()">
  <mat-icon>arrow_back_ios</mat-icon>
  <mat-icon>arrow_back_ios</mat-icon>
  Сменить пользователя
</button>

