<div class="container-fluid"
     *ngIf="!isMobile else mobileHeader">
  <div class="row">
    <div class="col-xs-12 col-lg-4">
      <h3>Магазин:</h3>
      <h2>{{session.shops[0].name}}</h2>
    </div>
    <div class="col-xs-12 col-lg-4">
      <h3>Владелец:</h3>
      <h2> {{session.currentCharacterName}}</h2>
    </div>
    <div class="col-xs-12 col-lg-4">
      <h3>Баланс:</h3>
      <h2>{{session.shops[0].balance}}&#165;</h2>
    </div>
  </div>
</div>

<ng-template #mobileHeader>
  <div class="container-fluid --mobile" style="color: white">
    <div class="row">
      <div class="col-xs-2">
        <button class="nav-button-mobile"
                mat-icon-button
                [style.color]="isOpenNav ? 'black' : 'white'"
                (click)="openCloseNav()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
    <div class="col-xs-12 col-lg-4">
      <div>Магазин:</div>
      <b>{{session.shops[0].name}}</b>
    </div>
    <div class="col-xs-12 col-lg-4">
      <div>Владелец:</div>
      <b> {{session.currentCharacterName}}</b>
    </div>
    <div class="col-xs-12 col-lg-4">
      <div>Баланс:</div>
      <b>{{session.shops[0].balance}}&#165;</b>
    </div>
  </div>
</ng-template>
