<div class='line'></div>
<div class='store'>
    <div class='store-name'>
        <h3>Магазин корпорации Россия 402</h3>
    </div>
    <div class='offer'>
        <div class='offer-img'>
            <img src="/assets/img/01.jpg">
        </div>
        <h3 class='offer-text'>Тестовые кости в крапинку</h3>
        <p>Дороги в Эквадоре практически идеальные, хотя населенные пункты
            выглядят очень бедно. На дорогах много интересных машин,
            например очень много грузовиков - древних Фордов, которые я
            никогда раньше не видел. А еще несколько раз на глаза попадались
            старенькие Жигули :) А еще если кого-то обгоняешь и есть встречная
            машина, она обязательно включает фары. На больших машинах -
            грузовиках и автобусах, обязательно красуется местный тюнинг:
            машины разукрашенные, либо в наклейках, и обязательно везде
            огромное множество светодиодов, как будто новогодние елки едут и
            переливаются всеми цветами.
        </p>
        <h4>Специально для вас цена:</h4>
        <h4 class='offer-price'>100 нуен/час</h4>
        <button class='offer-button' mat-raised-button color="primary">Купить!</button>
    </div>
</div>