<div class='line'></div>
<div class='store'>
    <div class='store-name'>
        <h3>Магазин корпорации {{nameShop}}</h3>
    </div>
    <div class='offer'>
        <div class='offer-img'>
            <img src="/assets/img/01.jpg">
        </div>
        <h3 class='offer-text'>{{headOffer}}</h3>
        <p>{{description}}</p>
        <h4>Специально для вас цена:</h4>
        <h4 class='offer-price'>{{price}}</h4>
        <button class='offer-button' mat-raised-button color="primary">Купить!</button>
    </div>
</div>