<div class="container-fluid">
  <h1>Доступные товары</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <mat-form-field class="col-xs-12 col-sm-3">
      <mat-label>Поиск</mat-label>
      <input matInput
             type="text"
             (keydown)="applyFilter($event)"/>
    </mat-form-field>
    <mat-paginator
      class="col-xs-12 col-sm-9 end-sm"
      #listPaginator
      [length]="50"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [pageSize]="25"
    >
    </mat-paginator>
  </div>
  <div *ngIf="goods$ | async; else loading"
       class="row">
    <div class="col-xs-12 end-xs"
         style="margin-bottom: 12px">
      <button
        mat-button
        [color]="printMode ? 'warn' : undefined"
        (click)="togglePrintMode()"
      >
        <mat-icon>print</mat-icon>
      </button>
      <button mat-button
              (click)="accordion.openAll()">
        <mat-icon>view_stream</mat-icon>
      </button>
      <button mat-button
              (click)="accordion.closeAll()">
        <mat-icon>view_headline</mat-icon>
      </button>
    </div>
    <div
      *ngIf="printMode"
      class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3"
    >
      <mat-card class="mat-elevation-z4 print-mode">
        <mat-card-content style="display: flex; justify-content: space-between">
          <div class="card-meta">
            <h2 class="card-title">Режим печати QR кодов</h2>
            <div>Выбрано товаров: {{ printList.length }}</div>
          </div>
          <button
            color="primary"
            mat-raised-button
            [disabled]="printList.length === 0"
            [routerLink]="['/', 'print']"
          >
            <mat-icon>print</mat-icon>
            {{ !isMobile ? 'Перейти к печати' : '' }}
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-xs-12">
      <mat-accordion multi>
        <mat-expansion-panel
          *ngFor="let g of goods$ | async"
          hideToggle
          [class.--disabled]="!g.enabled"
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="title ">
              <span class='--lifestyle --{{g?.lifeStyle?.toLowerCase()}}'></span> {{ g.skuName }}
            </mat-panel-title>
            <mat-panel-description style="justify-content: flex-end">
              <div class="--count">Кол-во: {{ g.count }}</div>
              <mat-checkbox
                *ngIf="printMode"
                class="print-checkbox"
                color="warn"
                [checked]="isSelected(g) !== -1"
                (click)="selectItemToPrint($event, g)"
              ></mat-checkbox>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="row col-xs-12 col-sm-2">
              <div>
                <img
                  alt=""
                  style="max-width: 100%; height: auto"
                  [src]="g.urlPicture"
                />
              </div>
            </div>

            <div class="row col-xs-12 col-sm-10">
              <div
                *ngFor="let s of goodsSchema"
                class="col-xs-12 col-sm-6 col-md-4 col-lg-3 --description"
              >
                <div class="row">
                  <div class="col-xs-12 col-sm-6 --title">{{ s.title }}:</div>
                  <ng-container [ngSwitch]='s.prop'>
                    <div *ngSwitchCase="'lifeStyle'" class="col-xs-12 col-sm-6 --value">
                      {{ g[s.prop] | lifestyle }}
                    </div>

                    <div *ngSwitchCase="'basePrice'" class="col-xs-12 col-sm-6 --value">
                      {{ g[s.prop] }} &#165;<span *ngIf="s.price">&#165;</span>
                    </div>

                    <div *ngSwitchDefault class="col-xs-12 col-sm-6 --value">
                      {{ g[s.prop] }} <span *ngIf="s.price">&#165;</span>
                    </div>
                  </ng-container>

                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 --description">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 --title">Тип:</div>
                  <div class="col-xs-12 col-sm-6 --value">
                    {{
                    g.discountType === 1
                      ? 'Обычный предмет'
                      : 'Оружие&nbsp;или&nbsp;броня'
                    }}
                  </div>
                </div>
              </div>
              <div class="col-xs-12 --description">
                <div class="row">
                  <div class="col-xs-12 --title">Описание:</div>
                  <div class="col-xs-12">{{ g.description }}</div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>

<ng-template #loading>
  <sr-loading>Подождите, идет загрузка...</sr-loading>
</ng-template>
