<!--suppress ALL -->
<div class="container-fluid">
  <h2>Доступные товары</h2>
  <div class="row">
    <table mat-table
           *ngIf="data"
           [dataSource]="data"
           class="col-xs-12 mat-elevation-z8 ">
      <ng-container matColumnDef="id">
        <th mat-header-cell
            *matHeaderCellDef> ID
        </th>
        <td mat-cell
            *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell
            *matHeaderCellDef> Название
        </th>
        <td mat-cell
            *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="lifestyle">
        <th mat-header-cell
            *matHeaderCellDef> Лайфстайл
        </th>
        <td mat-cell
            *matCellDef="let element"> {{element.lifestyle | lifestyle}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell
            *matHeaderCellDef>
        </th>
        <td mat-cell
            *matCellDef="let element"> Изменить / Удалить </td>
      </ng-container>

      <tr mat-header-row
          *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>


