.--loader {
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.print {
  @media print {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20000;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

::ng-deep {
  .mat-paginator {
    background-color: #FAFAFA;
  }
  .mat-content {
    height: 40px;
  }

  .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    align-items: center;
  }
  .mat-expansion-panel-header-title {
    overflow: hidden;
    white-space: nowrap;
  }
}

.--count {
  @media only screen and (max-width: 992px) {
    display: none;
  }
  width: 100px;
  text-align: left;
}

.--disabled {
  background-color: #DDDDDD;

  &-text {
    margin-left: 20px;
    color: #999999;
    @media only screen and (max-width: 700px) {
      display: none;
    }
  }
}

.--lifestyle {
  text-align: right;
  min-width: 20px;
  max-width: 20px;

  &:before {
    content: "";
    font-size: 9px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: gold;
  }

  &.--wood:before {
    content: "Д";
    background: saddlebrown;
  }

  &.--bronze:before {
    content: "Б";
    background: #FF8D1F;

  }

  &.--silver:before {
    content: "С";
    color: black;
    background: silver;

  }

  &.--gold:before {
    content: "З";
    color: black;
    background: gold;

  }

  &.--platinum:before {
    content: "П";
    color: black;
    background: #E5E4E2;

  }

  &.--iridium:before {
    content: "И";
    color: black;
    background: #9AE2FA;
  }
}


.--description {
  margin-bottom: 20px;

  .--title {
    color: #666666;
  }

  @media only screen and (max-width: 767px) {
    .--title, .--value {
      font-size: 12px;

    }
  }
}

.print-checkbox {
  margin-left: 12px;
  width: 20px;
}
.print-mode {
  margin-bottom: 12px;
}

.card-title {
  margin: 0;
}
