<div class="container-fluid">
  <h1>Доступные товары</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <mat-form-field class="col-xs-12 col-sm-3">
      <mat-label>Фильтр</mat-label>
      <input type="text"
             matInput
             (keydown)="applyFilter($event)">
    </mat-form-field>
    <mat-paginator
      class="col-xs-12 col-sm-9 end-sm"
      #listPaginator
      [length]="50"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25]">
    </mat-paginator>
  </div>
  <div *ngIf="goods$ | async; else loading"
       class="row">
    <div class="col-xs-12">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let g of goods$ | async"
                             hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{g.skuName}}
            </mat-panel-title>
            <mat-panel-description style="justify-content: flex-end">
            <button mat-mini-fab style="transform: scale(0.8)" (click)="openScanDialog($event, g.qr)"><mat-icon>qr_code_2</mat-icon></button>
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 --loader">
        <h3><b>Идет загрузка товаров...</b></h3>
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>
</ng-template>
