<div class="container-fluid">
  <div class="row --actions">
    <div class="col-xs-12 col-sm-offset-10 col-sm-2 end-xs">
      <button mat-raised-button
              color="primary"
              [routerLink]="['new']">Add transaction
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let t of transactionList"
                             hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title class="transaction-list__column --trade-icon">
              <mat-icon [class.--negative]="t.sum < 0">{{t.sum < 0 ? 'arrow_upward' : 'arrow_downward'}}</mat-icon>
            </mat-panel-title>
            <mat-panel-title class="transaction-list__column">
              {{t.target}}
            </mat-panel-title>
            <mat-panel-title class="transaction-list__column --currenct">
              {{ t.sum }}&#165;
            </mat-panel-title>
            <mat-panel-description class="transaction-list__column --date">
              {{ t.timestamp | date: 'dd MMMM y': '': 'ru_RU'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="row col-xs-12 col-sm-6 col-md-3">
              <div class="col-xs-6 col-sm-12">Идентификатор</div>
              <div class="col-xs-6 col-sm-12">{{ t.id}}</div>
            </div>
            <div class="row col-xs-12 col-sm-6 col-md-3">
              <div class="col-xs-6 col-sm-12">Дата и время</div>
              <div class="col-xs-6 col-sm-12">{{ t.timestamp | date: 'dd MMMM y, HH:MM': '': 'ru_RU'}}</div>
            </div>
            <div class="row col-xs-12 col-sm-6 col-md-3">
              <div class="col-xs-6 col-sm-12">Получатель</div>
              <div class="col-xs-6 col-sm-12">{{ t.target}}</div>
            </div>
            <div class="row col-xs-12 col-sm-6 col-md-3">
              <div class="col-xs-6 col-sm-12">Сумма</div>
              <div class="col-xs-6 col-sm-12">{{ t.sum }} &#165;</div>
            </div>
            <div class="row col-xs-12 col-sm-6 col-md-3" *ngIf="t.comment">
              <div class="col-xs-6 col-sm-12">Комментарий</div>
              <div class="col-xs-6 col-sm-12">{{ t.comment }}</div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
