<div class="container-fluid">
  <div class="row">
    <h2 class="col-xs-8 col-sm-6">Новый перевод</h2>
    <div class="col-xs-4 col-sm-6 end-xs">
      <button mat-button
              [routerLink]="['..']">
        <mat-icon>navigate_before</mat-icon>
       Назад<span class="col-mobile-hidden"> к списку транзакций</span>
      </button>
    </div>
  </div>
  <div class="row col-xs-12" [formGroup]="form">
    <mat-slide-toggle color="primary" formControlName="type">
      Перевод организации
    </mat-slide-toggle>
  </div>
  <div class="row"
       [formGroup]="form">
    <mat-form-field class="col-xs-12 col-sm-6 ">
      <mat-label>Получатель</mat-label>
      <input matInput
             formControlName="target"
             type="text">
    </mat-form-field>
    <mat-form-field class="col-xs-12 col-sm-6">
      <mat-label>Сумма</mat-label>
      <input matInput
             formControlName="sum"
             type="number">
    </mat-form-field>
    <mat-form-field class="col-xs-12">
      <mat-label>Комментарий (не обязательно)</mat-label>
      <textarea matInput
                formControlName="comment"></textarea>
    </mat-form-field>
    <div class="col-xs-12">
      <button mat-raised-button [disabled]="form.invalid" (click)="performTransaction()">
        Перевести {{transferTypeCtrl.value ? 'организации' : 'физ. лицу'}}
      </button>
    </div>
  </div>
</div>
