<ng-container *ngIf="offer">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="mat-elevation-z4">
      <div class="meta">
        <span>{{ (session$ | async)?.currentCharacterName }} </span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <a href="https://web.evarun.ru/" mat-raised-button>Logout</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <mat-card>
          <mat-card-header>
            <img mat-card-avatar [src]="offer.corporationLogo" />
            <mat-card-title>Товар {{ offer.skuName }}</mat-card-title>
            <mat-card-subtitle
              >Корпорация: {{ offer.corporationName }}</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content>
            <img alt="" mat-card-image [src]="offer.urlPicture" />
            <div class="row">
              <div class="col-xs-12 col-sm-3">Цена</div>
              <div class="col-xs-12 col-sm-12">
                {{ offer.finalPrice }}&#165;
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-3">Описание</div>
              <div class="col-xs-12 col-sm-12">{{ offer.description }}</div>
            </div>
            <div>
              <button
                color="primary"
                mat-raised-button
                [disabled]="offerCompleted || isProcessing"
                (click)="createOffer(offer.priceId)"
              >
                {{ isProcessing ? 'Проводится покупка...' : 'Купить!' }}
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="isLoading">
  <div class="sr-loading">
    <h2>Подождите идет загрузка</h2>
    <mat-progress-spinner
      class="example-margin"
      color="primary"
      mode="indeterminate"
    >
    </mat-progress-spinner>
  </div>
</ng-container>
<div *ngIf="errorMsg" class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <mat-card>
        <mat-card-header>Ошибка</mat-card-header>
        <mat-card-content>Текст: {{ errorMsg }}</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
