<ng-container *ngIf="offer">
  <!--  <div class="container-fluid">-->
  <!--    <div class="row">-->
  <!--      <div class="col-xs-12">-->
  <!--        <pre>{{offer | json}}</pre>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <mat-card>
          <mat-card-header>
            <img [src]="offer.corporationLogo"
                 mat-card-avatar>
            <mat-card-title>Товар {{offer.skuName}}</mat-card-title>
            <mat-card-subtitle>Корпорация: {{offer.corporationName}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <img mat-card-image
                 [src]="offer.urlPicture"
                 alt="">
            <div class="row">
              <div class="col-xs-12 col-sm-3">Описание</div>
              <div class="col-xs-12 col-sm-9">{{offer.description}}</div>
            </div>
            <div>
              <button mat-raised-button
                      color="primary"
                      [disabled]="offerCompleted"
                      (click)="createOffer(offer.priceId)">Купить!
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="isLoading">
  <div class="sr-loading">
    <h2>Подождите идет загрузка</h2>
    <mat-progress-spinner
      class="example-margin"
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
  </div>
</ng-container>
<div class="container-fluid" *ngIf="errorMsg">
  <div class="row">
    <div class="col-xs-12">
      <mat-card>
        <mat-card-header>Ошибка</mat-card-header>
        <mat-card-content>Текст: {{errorMsg}}</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
