<mat-drawer-container
  class="sr-side-menu"
  *ngIf="session && corp$; else loading"
  autosize
>
  <mat-drawer #drawer [mode]="isMobile ? 'push' : 'side'">
    <sr-nav [schema]="navBarSchema" type="corp" (linkSelected)="drawer.close()"></sr-nav>
  </mat-drawer>
  <mat-toolbar color="primary">
    <mat-toolbar-row class="mat-elevation-z4">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="meta">
        <span>{{ (corp$ | async)?.name }} </span>
        <span *ngIf="!isMobile"
        >Текущий KPI {{ (corp$ | async)?.currentKPI }}
        </span>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row style="height: 40px">
      <div class="container-fluid">
        <small>{{ session.currentCharacterName }} </small>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-drawer-container>

<ng-template #loading>
  <sr-loading>
    Подождите, идет загрузка...
  </sr-loading>
</ng-template>
