<ng-container *ngIf="dataToPrint.length > 0; else nothingToPrint">
  <div class="container-fluid --back-button">
    <div class="row">
      <div class="col-xs-12">
        <button mat-button (click)="back()">Вернуться назад</button>
      </div>
    </div>
  </div>
  <div *ngFor="let p of dataToPrint" class="container-fluid --print-item">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              {{ p.skuName }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <img [alt]="p.skuName" [src]="p.qr" />
            <p>
              <b>Описание:</b> <br />
              {{ p.description }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #nothingToPrint>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        Печатать нечего, либо что-то пошло не так, либо вы перезагрузили
        страницу печати.
      </div>
      <div class="col-xs-12">
        <button mat-button (click)="back()">Вернуться назад</button>
      </div>
    </div>
  </div>
</ng-template>
