@use '~@angular/material' as mat;
@import 'styles/grid';
@import 'styles/variables';

@include mat.all-component-themes($teal-app-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.sr-loading {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
