.--description {
  margin-bottom: 20px;

  .--title {
    color: #666666;
  }
}

::ng-deep {
  .mat-paginator {
    background-color: #FAFAFA;
  }

  .mat-expansion-panel-header-title,
  .mat-expansion-panel-header-description {
    align-items: center;
  }
}
