@import 'src/styles/variables.scss';

.nav-bar {
  margin-bottom: 40px;
  button {
    width: 100%;
  }
  &--active {
    background-color: $teal-50;
  }
}

.side-bar {
  position: fixed;
  padding: 40px 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: white;
  z-index: 2000;

  &__menu-btn {
    margin-left: 20px;
  }
}
